1. Load a CSV

In [5]:
import pandas as pd
 
df = pd.read_csv(r"E:\VISHAL NAIKAR\DataEngineeringBootCamp\Phase1_CoreSkills\Day1\scores.csv")
print(df)

     name  score
0  Vishal     95
1    Aman     88

2. Load a JSON

In [6]:
sample_data = [
    {"name": "Vishal", "score": 95},
    {"name": "Aman", "score": 88}
]

df_json = pd.DataFrame(sample_data)
df_json.to_json("scores.json", orient="records", indent=2)

loaded = pd.read_json("scores.json")
print(loaded)

     name  score
0  Vishal     95
1    Aman     88

3. Read Excel

In [7]:
df.to_excel("scores.xlsx", index=False)

excel_df = pd.read_excel("scores.xlsx")
print(excel_df)

     name  score
0  Vishal     95
1    Aman     88

Transform the data

In [8]:
df["score"] = df["score"] + 5
print(df)

     name  score
0  Vishal    100
1    Aman     93